.railButton {
	padding: 16px 20px;

	line-height: 18px;

	border-radius: 8px;
	background: #1b1a1d;
}

.railButton:hover {
	background: radial-gradient(130% 100% at 100% 0%, #2c2b2f 0%, #1b1a1d 100%);
}

.railButton:hover .railInfo {
	opacity: 1;
}

.railButton span {
	color: rgba(255, 255, 255, 0.96);

	font-size: 13px;
	font-weight: 600;

	white-space: nowrap;
}

.railInfo {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	opacity: 0.78;

	transition-property: opacity;
	transition-duration: 0.1s;
}
