.checkbox {
	width: 24px;
	height: 24px;
	background: transparent;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.56);

	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox.active {
	background: #5d0ef5;
	border: none;
}
