.main {
	padding: 50px 56px 70px 56px;
}

.title {
	margin-bottom: 20px;
}

.content {
	--grid-card-count: 5;

	margin-top: 1.5rem;

	display: grid;
	grid-template-columns: repeat(var(--grid-card-count), minmax(0, 1fr));
	gap: 8px;
}

.mobileContent {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.main {
		padding: 0 16px;
		margin-top: 20px;
		margin-bottom: calc(var(--mobile-footer-height) + 10px);
	}

	.title {
		margin-bottom: 8px;
	}
}
