.tabInfo {
	flex-grow: 1;
	padding: 20px 0;
	margin-bottom: 28px;
}

.tabInfoSection {
	max-width: 580px;
	margin-bottom: 40px;
	position: relative;
}

.tabInfoSectionTitle {
	margin-bottom: 6px;
}
.tabInfoSectionSubInfo {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.78);
}

/* GENERAL TAB */
.form {
	width: 420px;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.form .formButton {
	padding: 10px 26px;
	font-size: 15px;
	line-height: 20px;
	align-self: flex-start;
}

.form input {
	padding: 13px 15px;

	flex-grow: 1;

	color: rgba(255, 255, 255, 0.96);
	caret-color: rgba(255, 255, 255, 0.96);
	background-color: rgba(139, 136, 146, 0.32);
	border: none;

	border-radius: 8px;

	line-height: 24px;
	font-size: 15px;
}

.form input::placeholder {
	font-weight: 500;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.56);
}

.form input:disabled {
	background-color: rgba(139, 136, 146, 0.32);
	opacity: 0.5;
	cursor: not-allowed;
}

/* PAYMENT TAB */
.paymentInfo {
	margin-top: 1rem;
	background: #1b1a1d;
	border-radius: calc(8px * 1.75);
	padding: 24px 36px;
}

.paymentInfo .info {
	font-size: 17px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.96);
}

/* DEVISES TAB*/
.deviceStats {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.devices {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.deviceButton {
	background: #1b1a1d;
	border-radius: 8px;

	padding: 20px 26px;
	display: flex;
	color: rgba(255, 255, 255, 0.96);
	align-items: center;
	justify-content: space-between;
}

.deviceButton:hover {
	background: radial-gradient(130% 100% at 100% 0%, #2c2b2f 0%, #1b1a1d 100%);
}

.deviceInfoWrapper {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.deviceInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.deviceInfoName {
	font-weight: 600;
	font-size: 17px;
	line-height: 22px;
}

.deviceInfoStatus {
	font-size: 15px;
	line-height: 20px;
}

.deviceInfoStatus.active {
	color: #12b77c;
}

.deviceInfoStatus.inactive {
	color: rgba(255, 255, 255, 0.56);
}

.deviceButton .unlink {
	padding: 14px;
	font-size: 17px;
	line-height: 22px;
}
