.modalContentWrapper {
	height: 100%;
	background-color: #000;
	padding: 16px;

	display: flex;
	flex-direction: column;
	row-gap: 1.35rem;
}

.modalHeader {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.backButton {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalHeaderTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.modalContent {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 8px;
}
