.collectionElement {
	display: block;
	position: relative;
	width: 100%;
	text-decoration: none;
	cursor: pointer;
	transition: scale 200ms ease-out;
}

.collectionElement:hover {
	scale: 1.03;
	transition: scale 200ms ease-in;
}

.collectionElementContent {
	border-radius: calc(8px * 1.75);
	background: rgba(59, 58, 62, 0.48);
}
