.modalContentWrapper {
	height: 100%;
	background-color: #000;
	padding: 16px;

	display: flex;
	flex-direction: column;
	row-gap: 1.35rem;
}

.modalHeader {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.modalHeaderTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.modalContent {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.desc {
	margin-top: 10px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-align: left;
}

.profilesWrapper {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
}

.profile {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 10px 0;
}

.coverWrapper {
	width: 48px;
}

.profile:not(:first-child) {
	border-top: 2px solid rgba(255, 255, 255, 0.15);
}
