.navBar {
	height: var(--header-height);

	display: flex;
	align-items: center;
	padding: 0 56px;
}

.navButtons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.navButton {
	color: rgba(255, 255, 255, 0.56);

	font-size: 15px;
	line-height: 20px;
	font-weight: 600;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	position: relative;

	height: var(--header-height);
}

.navButton.active {
	color: inherit;
}

.hover {
	transition: color 200ms ease-out;
}

.hover:hover {
	color: rgba(255, 255, 255, 0.96);
	transition: color 200ms ease;
}

li.navButton.active a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	height: 2px;
	background: linear-gradient(
		270deg,
		transparent 0.17%,
		#5d0ef5 15.74%,
		#fff 50%,
		#5d0ef5 83.22%,
		transparent 100%
	);
}
