.modalWrapper {
	position: fixed;
	top: 0;
	z-index: 1231;
	overflow: auto;

	display: block;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.6);

	display: flex;
}

.modalWrapper.leftAttach {
	flex-direction: row;
}
.modalWrapper.rightAttach {
	flex-direction: row-reverse;
}

.modalWrapper.rightAttach .modalContent {
	margin: 0;
}

.modalContent {
	margin: 0 auto;
	background-color: #1c1c1c;

	align-self: center;
}

.modalContent.topAlign {
	align-self: flex-start;
}

.modalContent.centerAlign {
	align-self: center;
}
