.genres h3 {
	padding-left: 56px;
}

.genresGrid {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 15px;
	padding: 0 56px;
}

.catalogWrapper {
	padding-top: 50px;
	margin-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.catalogWrapper {
		padding-top: 10px;
		margin-bottom: calc(var(--mobile-footer-height) + 15px);
	}

	.genres h3 {
		padding-left: 16px;
	}

	.genresGrid {
		display: flex;
		flex-direction: column;
		padding: 0 16px;
		margin-top: 20px;
	}
}
